@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: 80mm auto;
    margin: 4mm;
  }
  aside {
    display: none !important;
  }
  main {
    padding: 0 !important;
  }
}
